body#index {
    background-image: url(../Images/Background_frontpage_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
  }

  #index-container {
    background-color:transparent;
  }

  #index-row {
      background-color: #FFFFFF;
  }