* {
  margin: 0;
}

.container.index {
  background-image: url(../Images/Background_frontpage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ff9933;
  padding: 40px;
}

#index.price {
  display: block;
  width: 100%;
  border-bottom: none;
}

.call-to-action#index {
  color: #ffffff;
}

label.icon a:hover {
  color: lightblue;
}

label.icon {
  color: #0a3641;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

img {
  max-width: 300px;
}

img.link {
  width: 80%;
}

img:hover {
  opacity: 0.7;
  transition: 0.5s ease;
}

header {
  padding: 10px;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
}

.logo {
  max-width: 100px;
  padding-top: 10px;
}

.hamburger-label {
  float: left;
  padding: 25px 25px 25px 10px;
}

#search-bar {
  display: inline;
  float: right;
  padding-right: 25px;
}

label {
  color: #fff;
}

.chat-label {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 2em;
  color: #ff9933;
}

nav,
#nav-2,
#hamburger-menu,
#nav-sidebar {
  display: none;
}

#hamburger-menu:checked ~ #nav-sidebar {
  display: block;
}

#nav-sidebar {
  position: fixed;
  text-align: start;
  background-color: #0a3641;
  opacity: 95%;
  padding: 0px 20px 150px 0px;
  margin: 12.8px 0px 0px -20px;
}

#nav-sidebar ul {
  color: #ffffff;
}

#nav-sidebar li {
  padding: 20px;
}

#nav-sidebar-about {
  font-size: 0.8em;
}

.about {
  height: 400px;
  object-fit: cover;
}

button,
.call-to-action {
  display: inline-block;
  margin: 20px;
  background-color: #ff9933;
  letter-spacing: 0.2ex;
  border-style: none;
  padding: 15px;
  font-size: 1em;
  border-radius: 5%;
  text-transform: uppercase;
  color: #ffffff;
  font-family: inherit;
}

.call-to-action:hover,
button:hover {
  background-color: #0a3641;
  color: #ffffff;
  border-color: #0a3641;
}

ul {
  display: inline-block;
  list-style: none;
  color: #0a3641;
  text-transform: uppercase;
  padding-top: 25px;
}

ul.bullet li {
  list-style: square;
  text-align: start;
}

li {
  text-decoration: none;
  list-style: none;
}

.fal.fa-shipping-fast,
.fal.fa-shopping-bag {
  padding: 25px;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  text-align: center;
  color: #0a3641;
}

footer {
  background-color: #0a3641;
  padding: 40px;
}

#footer.row,
#footer.column {
  padding: 0px;
}

#footer p {
  font-weight: 400;
}

#footer-social {
  color: #ffffff;
  display: inline;
}

footer ul {
  color: #ffffff;
  text-transform: initial;
  padding: 15px;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5em;
  padding-bottom: 50px;
  margin-top: 30px;
}

h1.top {
  padding-top: 150px;
}

h2 {
  font-weight: 300;
  font-size: 1.5em;
  padding: 20px 0px 20px 0px;
}

.row {
  padding: 30px;
}

.row.index-row {
  background-color: #fff;
}

.row-about {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 0px 40px 0px;
  margin-top: 40px;
  background-color: lightblue;
}

#shipping.row {
  padding: 0px;
}

.col-3 {
  padding: 40px;
}

.col-3.text {
  text-align: start;
  max-width: 300px;
  margin: 0 auto;
}

.column {
  padding: 5px;
}

#text.column {
  text-align: start;
  max-width: 300px;
}

input,
select,
textarea {
  font-family: inherit;
  width: 100%;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  resize: vertical;
  margin: 10px 0px 10px 0px;
}

input[type="submit"] {
  font-family: inherit;
  letter-spacing: 0.5;
  font-weight: 100;
  text-transform: uppercase;
  color: #0a3641;
  padding: 12px 20px;
  border: 1px solid;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #0a3641;
  color: #ffffff;
}

.container {
  border-radius: 5px;
  max-width: 800px;
  margin: auto;
}

.container.dark {
  background-color: #0a3641;
  color: #fff;
}

.title {
  padding: 30px;
}

.contactForm,
.shippingForm {
  padding: 40px;
  margin: 40px 0px 40px 0px;
}

.product-info {
  margin: 0 auto;
}

.products-content {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px;
}

.flex-item {
  text-align: center;
}

.container-products {
  justify-content: space-around;
  margin: 0 auto;
  padding: 50px;
}

.product-header,
.container-products {
  max-width: 650px;
}

.product-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}

.product-title {
  border-bottom: 1px solid #ff9933;
  text-align: start;
}

.product,
.total,
.quantity,
.price {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ff9933;
}

.product {
  padding: 10px 0;
  justify-content: space-around;
}

.product-title,
.product {
  width: 45%;
}

.total {
  width: 10%;
}

.quantity {
  width: 30%;
}

.price {
  width: 15%;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products img {
  width: 90px;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.fal.fa-minus-circle,
.fal.fa-plus-circle,
.basketTotalContainer {
  padding: 10px;
}

.errorPage {
  background-image: url(../Images/Background_frontpage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-error {
  color: #b24b1f;
  font-size: 0.8rem;
  padding: 10px;
  text-align: start;
  display: none;
}

.top-label {
  padding-top: 20px;
}

@media only screen and (min-width: 600px) {
  header {
    padding-top: 30px;
  }
  nav {
    display: inline;
    padding-top: 25px;
    margin-left: -500px;
    position: fixed;
  }
  #nav-2 {
    display: inline;
    font-size: 0.85em;
    margin-right: -550px;
    padding-left: 100px;
  }
  #nav-2 ul {
    display: none;
  }
  nav ul,
  nav li,
  #nav-2 li {
    display: inline;
    padding: 20px;
  }
  li.icon,
  li.cart {
    display: inline;
    padding: 2px;
  }
  .logo {
    max-width: 100px;
    padding: 20px;
    float: left;
  }
  .hamburger-label {
    display: none;
  }
  .column {
    display: inline-block;
    width: 30%;
  }

  .row-about {
    flex-direction: row;
  }

  #footer.column {
    width: 20%;
  }

  body#index {
    background-image: url(../Images/Background_frontpage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container.index {
    height: 600px;
    background-image: none;
    background-color: transparent;
    color: #0a3641;
  }
}

@media only screen and (min-width: 1000px) {
  #nav-2 ul {
    display: inline-block;
  }
  nav {
    display: inline;
    padding-top: 25px;
    margin-left: -380px;
    position: fixed;
  }

  .products-content {
    flex-direction: row;
  }

  .flex-item {
    width: 400px;
  }
}
